# Format Style Options - Created with Clang Power Tools
---
AlignConsecutiveMacros: Consecutive
BasedOnStyle: Microsoft
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: false
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 3
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
SpaceBeforeParens: Never
SpacesInConditionalStatement: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
...


